<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <h2 class="modal-title">Hakkımızda Yazı Girişi</h2>
            </div>
            <form method="post" action="/About/AddAbout">
                <div class="modal-body">
                    <label>Hakkımızda</label>
                    <input type="text" name="Details1" class="form-control" />
                    <br />
                    <label>Hakkımızda2</label>
                    <input type="text" name="Details2" class="form-control" />
                    <br />
                    <label>Görsel1</label>
                    <input type="text" name="ImagePath" class="form-control" />
                    <br />
                    <label>Görsel2</label>
                    <input type="text" name="ImagePath2" class="form-control" />
                    <br />
                    <button class="btn btn-success">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>
