@using EntityLayer.Concrete
@model List<Content>


@{
    ViewBag.Title = "GetAllContent";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("GetAllContent", "Content", FormMethod.Post))
{
    <p>Aranacak Kelimeyi Girin: @Html.TextBox("p")</p>
    <input type="submit" value="Ara" />
}


@foreach (var content in Model)
{
    <p>@content.ContentValue</p>
}
