
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />




<form class="form-group col-md-6 " method="post">
    <h1 class="text-center"> Yeni Kategori Ekleme Sayfası</h1>
    <br />
    <input class="form-control" type="text" name="Name" placeholder="Kategori Adı giriniz..." />
    <br />
    <input class="form-control" type="text" name="Description" placeholder="Açıklama giriniz..." />
  <br />
    <button class="btn btn bg-primary">Ekle</button>

</form>