
@{
    Layout = null;
}
S
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <table>
            <tr>
                <th>Kategory ID</th>
                <th>Kategori Adı</th>
                <th>Açıklama</th>
                <th>Durum</th>

            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
</body>
</html>
