

<li class="nav-item active">
    <a href="/Contact/Index/" class="nav-link">
        <i class="fas fa-mail-bulk"></i> İletişim
        <span class="badge bg-primary float-right">@ViewBag.ContactCount</span>
    </a>
</li>
