
@model EntityLayer.Concrete.Admin



@{
    ViewBag.Title = "UpdateAdminRole";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Rol Seç</h3>
@using (Html.BeginForm("UpdateAdminRole", "Admin", FormMethod.Post))
{
    
    <select class="form-control" style="width:200px;" name="role">
        <option>A</option>
        <option>B</option>
    </select>
    <button class="btn btn-success">Güncelle</button>
}